<!DOCTYPE html>
<html>
<head>
    <title>Create Customer</title>
</head>
<body>
    <h2>Create a New Customer</h2>
    <form action="/create_customer/" method="post">
        First Name: <input type="text" name="firstname" required><br><br>
        Last Name: <input type="text" name="lastname" required><br><br>
        Email: <input type="email" name="email" required><br><br>
        Password: <input type="password" name="password" required>
        Age: <input type="number" name="age"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
