<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
</head>
<body>
    <h2>Create a New User</h2>
    <form action="/create_user/" method="post">
        First Name: <input type="text" name="firstname" required><br><br>
        Last Name: <input type="text" name="lastname" required><br><br>
        Email: <input type="email" name="email" required><br><br>
        Password: <input type="password" name="password" required><br><br>
        Age: <input type="number" name="age"><br><br>
        Role:
        <select name="role">
            <option value="customer">Customer</option>
            <option value="restaurant_owner">Restaurant Owner</option>
        </select><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
