<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Smart Menu</title>
</head>
<body>
    <h1>Welcome to Smart Menu</h1>
    
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
    <hr / >
    <a href="{{ url_for('create_user') }}">Create User</a>
    <hr / >
    <a href="{{ url_for('view_users') }}">View Users</a>
    {% if current_user.is_authenticated and current_user.role == 'restaurant' %}
    <hr / >
    <a href="{{ url_for('dashboard') }}">Restaurant Dashboard</a>
    {% endif %}
</body>
</html>
